@import "../variables.scss";

.about {
  .about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include phone {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .cv,
    .basic-info,
    .interests {
      flex-grow: 1;
      width: 50%;
      padding: $padd;

      @include phone {
        width: auto;
      }
    }

    .section-item-header {
      font-family: "Lucida Console", Courier, monospace;
    }

    .cv {
      .cv-content {
        display: flex;
        flex-flow: column wrap;
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .btn {
            flex-grow: 1;
          }
          .btn-left {
            margin-right: 0.5rem;
          }
          .btn-right {
            margin-left: 0.5rem;
          }
        }
      }
    }

    .interests {
      .icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }
  }
}
