@import "../variables.scss";

.contact {
  .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .form {
      width: 100%;
      float: left;
      .form-group {
        width: 90%;
      }
    }

    // .form-group {
    // width: 85%;
    // max-width: auto;
    // }

    @include phone {
      grid-template-columns: 1fr;
      width: 100%;
      min-width: 320px;
      max-width: 100%;
    }

    grid-gap: 2em;
  }

  .info {
    display: grid;
    padding: 5px;
    grid-auto-rows: min-content;

    .address,
    .contacts,
    .social {
      .content {
        margin-left: 50px;
        a {
          padding: 0.5em;
          color: black;
        }
      }
    }
  }
}
