@import "../variables.scss";

.contact {
  .contact-content {
    display: flex;
    flex-direction: row;

    .form {
      flex-grow: 1;
    }

    @include phone {
      flex-direction: column;
    }
  }

  .info {
    flex-grow: 1;
    display: grid;
    padding: 5px;
    grid-auto-rows: min-content;

    .address,
    .contacts,
    .social {
      .content {
        margin-left: 50px;
        a {
          padding: 0.5em;
          color: black;
        }
      }
    }
  }
}
