@import "../styles/variables.scss";

@mixin speech-bubble-before($side, $theme) {
  $color: white;
  $backgroundColor: rgb(41, 43, 44);

  @if ($theme == "dark") {
    $color: black;
    $backgroundColor: white;
  }

  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;

  @if ($side == "right") {
    border-left: 15px solid transparent;
    border-right: 15px solid $backgroundColor;
    border-top: 15px solid $backgroundColor;
    border-bottom: 15px solid transparent;
    left: -16px;
  } @else {
    border-left: 15px solid $backgroundColor;
    border-right: 15px solid transparent;
    border-top: 15px solid $backgroundColor;
    border-bottom: 15px solid transparent;
    right: -16px;
  }
}

@mixin speech-bubble($side, $theme) {
  $color: white;
  $backgroundColor: rgb(41, 43, 44);

  @if ($theme == "dark") {
    $color: black;
    $backgroundColor: white;
  }

  background-color: $backgroundColor;
  color: $color;

  padding: 20px;
  text-align: left;
  font-weight: 900;
  font-family: arial;
  position: relative;
  align-self: start;
  margin-top: 1%;
  border-radius: 5px;

  @include desktop {
    border-radius: 0px;
    margin-top: 0%;

    @if $side == "left" {
      margin-right: 16px;
      grid-column: 1/2;
      margin-bottom: 40px;
    } @else {
      grid-column: 2/3;
      margin-left: 16px;
      margin-top: 40px;
    }
  }
}

@mixin bubble($theme) {
  .speech-bubble-left {
    @include speech-bubble("left", $theme);
  }

  .speech-bubble-right {
    @include speech-bubble("right", $theme);
  }

  @include desktop {
    .speech-bubble-right:before {
      @include speech-bubble-before("right", $theme);
    }

    .speech-bubble-left:before {
      @include speech-bubble-before("left", $theme);
    }
  }
}
