@import "./variables.scss";

.nav {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-250px, 0, 0);

  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);

  background-color: rgb(41, 43, 44);
  opacity: 0.8;
  height: 100vh;
  z-index: 5;

  width: $sidebarWidth;

  .my-photo {
    width: $sidebarWidth * 0.9;
    height: $sidebarWidth * 0.9;
    margin: 5vh 0 0 $sidebarWidth * 0.1/2;
    border-radius: $sidebarWidth * 0.9;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh;
    cursor: pointer;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: -30px;
    font-size: 30px;
  }
  .nav-item:hover {
    font-size: 50px;
  }
}

.nav:hover {
  transform: translate3d(0, 0, 0);
  .icon {
    transform: rotate(180deg);
  }
}
